# Udacity Nanodegree Program, Data Analyst

# Project 4: Data Wrangling

## Map Area: Prague, Czech Republic

I chose already prepared extract of Prague - the capital city of Czech Republic - from mapzen.com <sup>1</sup> (1.83 GB) though I worked only with the sample (380 MB) in this project to make the calculations and wrangling faster. Czech Republic is located in Central Europe with Prague (approx. 1.3 million inhabitants) in western part of the country. Prague is city where I live now, which made decision making about map area much simpler for me. (Later found out that area covers not only Prague but also contiguos districts and smaller cities close to Prague, which I do not mind now and those data were left in the database.)

## Problems Encountered During Auditing

To avoid multiple cycles over dataset the code solving below issues were included in one function called shape_element() which processing the data from .osm file and insert them into particular csvs. This method is faster  than multiple cycles but the cost is a clarity of the code.

### 1. Diacritics
The first and very obvious issue is diacritics (á, é, ě,...) widely used in Czech Republic, which frequently occures in usernames, street names, city district names, etc. To adjust those I wrote short function which uses Unidecode library, concretely unidecode() function to transliterate text with diacritics to more convenient ASCII characters. <br>

def remove_diacritics(string):
    pured_string = unidecode.unidecode(string)
    pured_string.encode("ascii")
    return pured_string

Before adjustment:

<tag k="name" v="Dělnická" />
<node changeset="3845374" id="635563981" lat="50.1198355" lon="14.4274516" timestamp="2010-02-11T03:09:56Z" uid="17615" user="Petr Dlouhý" version="1" />
<tag k="addr:street" v="Václavská" />
<tag k="name" v="Hlubočepská" />
<node changeset="16767032" id="31419183" lat="49.786519" lon="14.4111147" timestamp="2013-06-30T17:13:13Z" uid="733101" user="Jindřich Houska" version="3" />

After adjustment:

<tag k="name" v="Delnicka" />
<node changeset="3845374" id="635563981" lat="50.1198355" lon="14.4274516" timestamp="2010-02-11T03:09:56Z" uid="17615" user="Petr Dlouhy" version="1" />
<tag k="addr:street" v="Vaclavska" />
<tag k="name" v="Hlubocepská" />
<node changeset="16767032" id="31419183" lat="49.786519" lon="14.4111147" timestamp="2013-06-30T17:13:13Z" uid="733101" user="Jindrich Houska" version="3" />

### 2. Wrong format of some key values
#### 2.a 
When auditing key values of tags, I encountered some unexpected formats of keys which do not match up with compiled regular expressions (lower, lower_colon, problemchars, other). Where the most common issue was key in this form: uir_adr:ADRESA_KOD, which is abbreviated reference to database of all building objects in Czech Republic and value for this key is an identification code. Even though it is not such a big problem, it would be better to give that key more appropriate and fully english name.

Before adjustment:

<tag k="uir_adr:ADRESA_KOD" v="21808074" />
<tag k="uir_adr:ADRESA_KOD" v="22069739" />
<tag k="uir_adr:ADRESA_KOD" v="22563644" />
<tag k="uir_adr:ADRESA_KOD" v="1438964" />
<tag k="uir_adr:ADRESA_KOD" v="21764573" />

The share of above mentioned problem is clearly the most frequent one.

Node tags key: 
{'problemchars': 0, 'lower': 19632, 'other': 4199, 'lower_colon': 150611}
Way tags key: 
{'problemchars': 0, 'lower': 107885, 'other': 65, 'lower_colon': 79292}

{u'ref:I\u010cO': 1, 'VITASLIM': 1, 'FIXME': 20, 'Shape_Area': 1, 'fuel:1_50': 1, 'fuel:GTL_diesel': 2, 'cinema:3D': 1, 'hgv:6t': 2, 'hgv:12t': 2, 'uir_adr:ADRESA_KOD': 4214, 'source_1': 1, 'CEMT': 1, 'ref_1': 6, 'hgv:6': 1, 'fuel:1_25': 1, 'his:1951-1990:name': 1, 'hazmat:E': 1, 'currency:CZK': 3, 'currency:EUR': 1, 'his:1990-:name': 1, 'fuel:HGV_diesel': 2}

To solve this I simply checked all key values and in case of match the key and type value were set to more convenient "UIRA_code".

LOWER_COLON = re.compile(r'^([a-z]|_)+:([a-z]|_)+')
PROBLEMCHARS = re.compile(r'[=\+/&<>;\'"\?%#$@\,\. \t\r\n]')
LOWER = re.compile(r'^([a-z]|_)*$')

if child.get("k") == "uir_adr:ADRESA_KOD":
                        tag_d["key"] = "UIRA_code"
                        tag_d["type"] = "regular"

After adjustment:

<tag k="UIRA_code" v="21808074" />
<tag k="UIRA_code" v="22069739" />
<tag k="UIRA_code" v="22563644" />
<tag k="UIRA_code" v="1438964" />
<tag k="UIRA_code" v="21764573" />

#### 2.b
In some of the keys also occured ";" mark which might causing trobles in .csv format as it is often used as separator value. In code were, within all values, ";" marks simply replaced by "_" using replace() function from standard library.

Before adjustment:

<tag k="source" v="euler.blog.cz;uhul:ortofoto" />
<tag k="source" v="Bing;cuzk" />
<tag k="source:addr" v="uir_adr;mvcr:adresa" />
<tag k="source" v="local_knowledge;bing:ortofoto" />
<tag k="opening_hours" v="Tu,Th,Fr 08:00-11:00,13:00-16:00; Mo,We 08:00-11:00,14:00-16:00,16:30-18:00; Sa,Su,PH off" />

After adjustment:

<tag k="source" v="euler.blog.cz_uhul:ortofoto" />
<tag k="source" v="Bing_cuzk" />
<tag k="source:addr" v="uir_adr_mvcr:adresa" />
<tag k="source" v="local_knowledge_bing:ortofoto" />
<tag k="opening_hours" v="Tu,Th,Fr 08:00-11:00,13:00-16:00_ Mo,We 08:00-11:00,14:00-16:00,16:30-18:00_ Sa,Su,PH off" />

### 3. Wrong postcode format

Some of the postcodes are recorded with whitespace and thus it does not count as the same postcode without whitespace. Issue processed programmatically by replacing all the whitespaces within postcode values, again used replace() function from standard library.

Investigative_query = """SELECT sub.value, count(sub.value) as postcodes
            FROM (SELECT key, value FROM nodes_tags UNION ALL SELECT key, value FROM ways_tags) as sub 
            WHERE sub.key == 'postcode'
            GROUP BY sub.value
            ORDER BY postcodes DESC;"""

Before adjustment: <br>
(postcode, count)

(u'110 00', 2)
(u'170 00', 2)
(u'180 00', 2)
(u'150 00', 5)
(u'160 00', 3)

(u'11000', 763)
(u'17000', 504)
(u'18000', 295)
(u'15000', 1226)
(u'16000', 1168)

After adjustment: <br>
(postcode, count)

(u'11000', 765)
(u'17000', 506)
(u'18000', 297)
(u'15000', 1231)
(u'16000', 1171)

## Answering questions by quering the database

### Database size

QUERY1 =  """ PRAGMA PAGE_COUNT; """
c.execute(QUERY1)
count = c.fetchall()
QUERY2 = """ PRAGMA PAGE_SIZE; """
c.execute(QUERY2)
p_size =c.fetchall()
print "size of database:"
print (count[0][0] * p_size[0][0]) / 1000, " kilobytes"

size of database:
231 938  kilobytes

### Number of unique users

QUERY3 = """SELECT count(DISTINCT sub.uid) as unique_users 
            FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways) sub;"""

number of unique users:  2031

### Number of nodes

QUERY4 = """SELECT count(*) as nodes_number FROM nodes;"""

number of nodes:  1703031

### Number of ways

QUERY5 = """ SELECT count(*) as ways_number FROM ways;"""

number of ways:  195262

### Number of shops

QUERY6 = """SELECT count(key) as number_shops FROM nodes_tags
            WHERE nodes_tags.key == 'shop'; """

number of shops:  1094

### Number of trees

QUERY7 = """SELECT count(value) as number_trees FROM nodes_tags
            WHERE nodes_tags.value == 'tree'; """

number of trees:  433

### Number of footways

QUERY7 = """SELECT count(value) as number_footways FROM ways_tags
            WHERE ways_tags.value == 'footway'; """

number of footways:  7812

### Top 10 users

QUERY8 = """SELECT sub.user as unique_users, count(sub.id) as number_inputs
            FROM (SELECT user, id FROM nodes UNION ALL SELECT user, id FROM ways) sub
            GROUP BY sub.user
            ORDER BY number_inputs DESC
            LIMIT 10;"""

Top 10 contributors:
JandaM : 429645 <br>
Petr1868 : 378057 <br>
pedro' : 79844 <br>
pschonmann : 77969 <br>
kwiecpav : 71092 <br>
CzechAddress : 69745 <br>
Minimalis : 65784 <br>
BiIbo : 51922 <br>
montardo : 44292 <br>
Jindrich Houska : 43444

### Share of top 10 users on total

QUERY9 = """SELECT sum(number_inputs) as top_contributors
            FROM (SELECT sub.user as unique_users, count(sub.id) as number_inputs
            FROM (SELECT user, id FROM nodes UNION ALL SELECT user, id FROM ways) sub
            GROUP BY sub.user
            ORDER BY number_inputs DESC
            LIMIT 10);"""

Share of top 10 users on the total:  69.1 %

### Overview of amenities and artwork objects

QUERY10 = """SELECT sub.key, sub.value, count(sub.value) as number_objects
            FROM (SELECT key, value FROM nodes_tags UNION ALL SELECT key, value FROM ways_tags) as sub
            WHERE sub.key == 'amenity' or sub.key == 'artwork_type'
            GROUP BY sub.value;"""

bench : 843 ,
parking : 806 ,
restaurant : 571 ,
recycling : 528 ,
bicycle_parking : 201 ,
post_box : 171 ,
shelter : 165 ,
place_of_worship : 163 ,
telephone : 158 ,
cafe : 142 ,
school : 134 ,
pub : 121 ,
atm : 115 ,
fast_food : 108 ,
bar : 101 ,
fuel : 98 ,
waste_basket : 92 ,
kindergarten : 84 ,
pharmacy : 76 ,
toilets : 67 ,
bank : 66 ,
fountain : 53 ,
post_office : 51 ,
hunting_stand : 47 ,
vending_machine : 47 ,
parking_entrance : 41 ,
statue : 39 ,
townhall : 37 ,
drinking_water : 33 ,
police : 32 ,
library : 29 ,
clock : 27 ,
theatre : 27 ,
fire_station : 23 ,
bureau_de_change : 22 ,
sculpture : 22 ,
doctors : 21 ,
university : 19 ,
car_wash : 18 ,
embassy : 18 ,
hospital : 17 ,
waste_disposal : 17 ,
college : 16 ,
nightclub : 16 ,
grave_yard : 15 ,
community_centre : 12 ,
veterinary : 12 ,
charging_station : 10 ,
dentist : 10 ,
biergarten : 9 ,
clinic : 9 ,
cinema : 8 ,
parking_space : 7 ,
arts_centre : 6 ,
bus_station : 6 ,
dormitory : 6 ,
marketplace : 6 ,
social_facility : 6 ,
ferry_terminal : 5 ,
bbq : 4 ,
survey : 4 ,
table : 4 ,
taxi : 4 ,
bicycle_rental : 3 ,
brothel : 3 ,
car_rental : 3 ,
food_court : 3 ,
ice_cream : 3 ,
vehicle_inspection : 3 ,
animal_training : 2 ,
childcare : 2 ,
monastery : 2 ,
music : 2 ,
nursing_home : 2 ,
public_bookcase : 2 ,
architect_office : 1 ,
art_school : 1 ,
bicycle_repair_station : 1 ,
boat_rental : 1 ,
bts : 1 ,
canteen : 1 ,
casino : 1 ,
check_in : 1 ,
courthouse : 1 ,
doctors_pharmacy : 1 ,
driving_school : 1 ,
elevator : 1 ,
exhibition_hall : 1 ,
fast_food_boat_sharing : 1 ,
feeding_place : 1 ,
fodder_rack : 1 ,
game_feeding : 1 ,
haunt : 1 ,
loading_dock : 1 ,
mortuary : 1 ,
mural : 1 ,
other : 1 ,
prison : 1 ,
relief : 1 ,
science : 1 ,
shop : 1 ,
shower : 1 ,
social_centre : 1 ,
stripclub : 1 ,
swimming_pool : 1 ,
water_point : 1 ,

In further analysis I would be interested in average number of amenities per district and per habitant such as number of benches per habitant or number of recycling spots per habitant/squere area. And then use those and similar informations (number of libraries, kindergarten etc) to get a sense of particular districts and evaluate them as potential factors of quality of life in those districts. But to proceed with the analysis, there would be needed square area of each district and number of habitants in each district. It would not be such a problem to get the mentioned data, but what concerning me is data completeness, in different words how representative would be the data obtained from openstreetmap websites. Even though it is more statistical question, it has also what to do with data quality.
Other topic is data consistency which might be harmed as the openstreetmap contributors are not single person or single group of people but a lot of different persons/groups and thus violiting data consistency migh happen very easily.

## Conclusion

Beside two above mentioned issues, I noticed that not all informations in data are updated as I saw a few route restrictions (e.g. route is closed due to maintenance) that are not more valid and surely there could be some other issues which negatively affect the data accuracy. In general it is not a simple task to provide and often even measure data accuracy which also apply for this case.
All those issues are unwanted and degrading utility of data, however considering the nature of openstreetmaps and way how the data are collected brings following question to my mind if it is even possible to assure that the numbers will depict the reality perfectly well. I do not thinks so, as the data will be always incomplete and inaccurate as the city is under constant development, changing and provide good data quality for such complex organism is not an easy task even for some corporation payed for that. But still I am super excited that these "opensource" datasets like this one exist and that they are created by people for people!

Resources:<br>
1) https://mapzen.com/data/metro-extracts/metro/prague_czech-republic/ <br>
2) https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-in-a-python-unicode-string <br>
3) https://docs.python.org/2/library/sqlite3.html <br>
4) https://docs.python.org/ <br>
5) https://gist.github.com/carlward/54ec1c91b62a5f911c42#file-sample_project-md <br>
6) https://www.w3schools.com/sql <br>
7) https://forums.udacity.com/?forum_path=c/nd002-data-wrangling <br>
8) McKinney, Wes. Python for data analysis. Beijing: O'Reilly, 2013. <br>
9) Udacity lessons, usage of training codes from CaseStudy lesson <br>
10) https://pypi.python.org/pypi/Unidecode <br>
11) https://gist.github.com/swwelch/f1144229848b407e0a5d13fcb7fbbd6f

Created by: <br>
Martin Rypar <br>
6.9.2017